.caption {
	@extend .z-depth-1;
}

.badge {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
    float: none;
    -webkit-font-smoothing: auto;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    background-color: $primary-color;
    border-radius: 2px;
    min-width: 3rem;
	padding: 3px 8px;
	z-index: 10;
}

.desc {
	display: flex;
	margin: 1.8rem 0;
	align-items: flex-start;

	&__box-icon {
		padding: 0 2rem 0 0;

		& img {
			width: 24px !important;
			height: 24px !important;
		}

		&:last-child {
			padding: 0;
		}

		h4 {
			font-size: .9rem;
		    font-weight: 500;
		    margin-top: 0;
		    margin-bottom: .8rem;
		    color: #1a1a1a;
		}

		svg {
			fill: $primary-color;
		}

		span {
			font-weight: 500;
			padding: 0 0 0 1rem;
			color: #444444;
			font-size: 1rem;
		}
	}
}

.price {

	h4 {
		font-size: .9rem;
	    font-weight: 500;
	    margin-top: 0;
	    margin-bottom: .5rem;
	    color: #1a1a1a;
	}

	span {
		font-size: 1.7rem;
		color: $primary-color;
		font-weight: 500;
	}
}

.search__form {
	margin-top: -4rem;
	position: relative;
	z-index: 2;

	.search__fields {
		display: flex;
		border-left: 1px solid rgba(128,128,128,.2);
		border-bottom: 1px solid rgba(128,128,128,.2);

		&__option {
			flex: 1 1 auto;
			border-right: 1px solid rgba(128,128,128,.2);
			transition: .2s all linear;
			background: #fff;

			label {
				display: block;
			    font-size: 1rem;
			    font-weight: 500;
			    padding: 1.5rem 2rem .5rem;
			    cursor: pointer;
			    color: #444;
			}

			.input-field {
				padding: 0 2rem;
				margin-top: 0;
			}
		}

		#download-button {
		    width: 100%;
		    font-size: 18px;
		    font-weight: 400;
		}
	}
}
.contact {
	background-image: url(/images/bg-contact.jpg);
	background-size: cover;
}

@media #{$medium-and-down} {
	.slider {

		.slides li .caption:not(.mini) {
			right: 4rem;
		}

		.desc {
			display: none;
		}
	}
}

@media #{$small-and-down} {
	.slider {

		.slides li .caption:not(.mini) {
			right: 0;
			left: 0;
			bottom: 0;
		}
	}

	.search {
		padding-top: 20px;
	}

	.search__form {
		margin: 0;

		.search__fields {
			flex-direction: column;
			border-bottom: none;
		}

		.search__fields__option {
			border-bottom: 1px solid rgba(128, 128, 128, 0.2);
		}
	}

	footer {
		text-align: center;
	}

	header {
		padding: 1rem;
	}
}

@media #{$xsmall-and-down} {
	.slider {

		.price {
			display: none;
		}
	}

	.desc__box-icon {
		padding: 0 1rem 0 0;
	}

	.page-footer .container {
		flex-direction: column;

		.social-icon {
			margin-top: 1rem;
		}
	}
}